#gameScreen {
    width: 800px;
    height: 800px;
    background-color: black;
    margin: 30px auto;
    border: 30px solid gray;
}

.door {
    height: 50px;
    width: 30px;
    background-color: rgb(200, 50, 30);
}